<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>친퀘테레</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/footer.css">

    <link rel = "stylesheet" href = "/static/css/capri.css">
</head>
<body>
    <%- include('navbar.ejs')%>

    <div id = "contents">

        <div id = "bigImg">
            <img src = "/static/img/CinqueTerre3.jpg">
        </div>

        <div id = "btn4">
            <a href = "#box1"><span>친퀘테레는?</span></a>
            <a href = "#box2"><span>친퀘테레의 접근성</span></a>
        </div>

            <div id = "box1" class = "box">

                <div id = "box1Img">
                    <img src = "/static/img/cin11.webp">
                </div>
                

                <div id = "msg">
                    <h2>친퀘테레는?</h2>

                    <div class = "pFour">

                        <div class = "twop">
                            <p>
                                친퀘테레는 이탈리아 리비에라에 있는 절벽과 바위로 이루어진 해안이다.
                            </p>
    
                            <p>
                                다섯 마을과 주변 언덕과 해변은 전부 친퀘 테레 국립공원의 일부이며 유네스코 세계 문화 유산으로 등록되었다.
                            </p>
                        </div>

                        <div class = "twop">
                            <p>
                                라스페치아의 서쪽에 있는 리구리아 지역에 위치하며 다섯 개의 땅은 몬테로소알마레, 베르나차, 코르닐리아, 마나롤라, 리오마조레의 마을이 해당된다.
                            </p>
    
                            <p>
                                사람들은 몇 세기 동안 절벽을 포함한 바위투성의 가파른 지형에서 테라스를 구축했다.
                            </p>
                        </div>

                    </div>

                </div>
            </div>

            <div id = "box2" class = "box">

                <div id = "test">

                    <div id = "write">
                        <h2>절벽에 선 다섯 개의 마을</h2>
                        <h2 class = "red">친퀘테레</h2>
                    </div>

                    <div class = "box2Div3">
                        <p>
                            외부 지역에서는 차를 들여올 수 없어 접근이 불편하지만 매년 많은 사람들이 찾는 관광지이다.<br>
                            라스페치아에서 제노바 지역까지 가는 완행 열차는 다섯 마을 전부에 정차한다.
                        </p>

                        <p>
                            시외 열차는 친퀘 테레부터 밀라노, 로마, 토리노와 토스카나까지 지나기 때문에 기차여행으로 방문해도 좋으며<br>
                            다섯 마을 중 코르닐리아를 제외한 나머지 네 곳을 지나는 여객선도 있어서 다양한 방법으로 친퀘테레를 관광할 수 있다.
                        </p>

                        <div class = "box2button">
                            <a href = "https://www.google.com/search?q=%EC%B9%9C%ED%80%98%ED%85%8C%EB%A0%88+%EC%A7%80%EB%8F%84&ei=JqVYY836A_bU2roP4rGf6As&oq=%EC%B9%9C%ED%80%98%ED%85%8C%EB%A0%88+&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQARgFMgQIABBDMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOgoIABBHENYEELADSgQIQRgASgQIRhgAULETWKgUYP4gaAFwAXgAgAF_iAHsAZIBAzAuMpgBAKABAcgBCsABAQ&sclient=gws-wiz-serp" target = "_blank">
                                <button class = "colorbtn">자세히 보기</button>
                            </a>
                            <a href = "https://ko.wikipedia.org/wiki/%EC%B9%9C%ED%80%98_%ED%85%8C%EB%A0%88" target = "_blank">
                                <button>관련 설명</button>
                            </a>
                            
                        </div>
                    </div>
                </div>

                <div id = "box3Img">
                    
                    <div class = "twoImg first">
                        <img src = "/static/img/cin1.jpg">
                        <img src = "/static/img/cin2.jpg">
                    </div>


                    <div class = "twoImg second">
                        <img src = "/static/img/cin4.jpg">
                        <img src = "/static/img/cin5.jpg">
                    </div>
                </div>
            </div>




    </div>
    <%- include('footer.ejs')%>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
                integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src ="/static/js/footer.js"></script>


    <script src = '/static/js/capri.js'></script>


    
</body>
</html>