<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>콜로세움</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
  
      <link rel="stylesheet" href="/static/css/navbar.css">
      <link rel="stylesheet" href="/static/css/footer.css">


    <link rel = "stylesheet" href = "/static/css/colosseum.css">
</head>
<body>
    <%- include('navbar.ejs')%>

    <div id = "contents">

        <div id = "bigImg">
            <img src = "/static/img/colosseum2.jpg">
        </div>

        <div id = "btn4">
            <a href = "#box1"><span>콜로세움의 유래</span></a>
            <a href = "#box2"><span>출입구와 계급차이</span></a>
            <a href = "#explain"><span>콜로세움의 검투사</span></a>
            <a href = "#infoThree"><span>콜로세움의 여러가지 모습들</span></a>
        </div>

        <div id = "threeBox">

            <div id = "box1" class = "box">
                <img src = "/static/img/colosseum.jpg" alt = "이미지1">

                <div class = "msg">
                    <h2>콜로세움의 유래</h2>

                    <p class = "smallw">원형경기장, 콜로세움</p>

                    <p>
                        콜로세움은 고대 로마 시대의 건축물 가운데 하나로 로마 제국 시대에 만들어진 원형 경기장이다. 
                        로마의 중심지에 있고 로마를 대표하는 유명한 관광지다. 
                        콜로세움이라는 이름은 근처에 있었던 네로 황제의 거대 동상인 콜로서스에서 유래한다. 
                        원래 이름은 플라비우스 원형 경기장으로, 
                        서기 72년 베스파시아누스 황제가 착공해 아들인 티투스 황제가 완공했다.
                    </p>
                </div>
            </div>

            <div id = "box2" class = "box">
                <img src = "/static/img/colosseum3.jpg" alt = "이미지2">

                <div class = "msg">
                    <h2>출입구와 계급차이</h2>

                    <p class = "smallw">계급에 따른 자리배치도</p>

                    <p>
                        콜로세움에는 80개의 출입구가 있고 각 출입구는 고유한 번호가 매겨져 있다. 
                        북쪽의 정문은 황제와 귀족들을 위한 것이었고 나머지 문은 로마의 엘리트층이 주로 사용하였다.
                        4개의 주요 문은 타일과 황금으로 아름답게 장식되어 있었고 지금까지도 그 파편을 찾아볼 수 있다. 지금은 외벽 자체가 많이 무너지며 현재는 32개의 문만이 남아 있다.
                        좌석은 계급에 따라 구분되었다.

                    </p>
                </div>
            </div>

        </div> <!--threeBox 끝-->

        <div id = "explain">

            <h2>콜로세움의 검투사</h2>
            
            <div id = "posit">
                <div id = "text">
                    <p>주로 전쟁 포로나 노예시장에서 사고 팔리는 자들로</p>
                    <p>주인이 투사로 버리는 등 노예가 많았다.</p>
                    <p>지원하는 경우도 있지만</p>
                    <p>그 수는 10명 중 2명인 자유민 뿐이다.</p>
                    <p>투사는 계속 승리하면 부와 명성이 생기지만</p>
                    <p>로마인들로부터 야만인, 타락한자로 취급받았다.</p>

                    <a href = "https://ko.wikipedia.org/wiki/%EC%BD%9C%EB%A1%9C%EC%84%B8%EC%9B%80" target = "_blank">
                        <button class = "yellowbtn">자세히 보기</button>
                    </a>
                </div>
                
    
                <img src = "/static/img/colosseum5.jpg" alt = "사진1">
            </div>
        </div> <!-- explain 끝-->

        
        <div id = "infoThree">
            <h2>콜로세움의 여러가지 모습들</h2>
            <div id = "infoImg">


                <div class="card card1">
                    <img src="/static/img/colosseum8.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">모래로 뒤덮인 나무 바닥으로 정교한 지하의 구조들을 가리고 있었는데 현대에 콜로세움에서 볼 수 있는 이 지하의 구조물들은 콜로세움이 지어질 때는 없었다.</p>
                    </div>
                  </div>

                  <div class="card card2">
                    <img src="/static/img/colosseum9.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">경기장에는 많은 양의 기계 구조물들이 있었다. 엘리베이터와 도르래는 동물들을 곧바로 경기장 내부에 풀어놓을 수 있게 했고, 심지어는 나무와 조형물들까지도 들었다 내렸다하며 풍경들도 바꿀 수 있었다. </p>
                    </div>
                  </div>


                  <div class="card card3">
                    <img src="/static/img/colosseum10.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">검투사가 되면 이득도 있었는데 승리를 거둔 검투사들은 영웅 대접을 받기도 했지만 공포심을 심어주기 위한 정치적인 목적도 있었으며 사형수들은 맨몸으로 맹수 앞에 서게 되는 형벌을 받았다. 
                    </p>
                    </div>
                  </div>


            </div>
        </div>

    </div>
    <%- include('footer.ejs')%>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
                integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src ="/static/js/footer.js"></script>

    <script src = "/static/js/colosseum.js"></script>
</body>
</html>