<footer>

    <img src="/static/image/italyfont.png" class="footerLogo" alt="로고">
    <div class="dropup">
        <button type="button" class="btn dropdown-toggle" data-bs-container="body" data-bs-toggle="popover"
            data-bs-placement="top" data-bs-content="kimyena1123@naver.com 010-5457-1396 github.com/kimyena1123">
            김예나
        </button>
    </div>
    <div class="dropup">
        <button type="button" class="btn dropdown-toggle" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top"
            data-bs-content="amole2315@naver.com 010-9913-2315 github.com/mangrang">
            김영훈
        </button>
    </div>
    <div class="dropup">
        <button type="button " class="btn dropdown-toggle" data-bs-container="body" data-bs-toggle="popover"
            data-bs-placement="top" data-bs-content="archangel67@naver.com 010-5393-6167 github.com/whqngml">
            조부희
        </button>
    </div>

    <!-- Default dropup button -->
    <div class="btn-group dropup">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            사이트맵
        </button>
        <ul class="dropdown-menu">
            <a class="dropdown-item" href="http://www.italiantourism.com/" target="_blank">이탈리아 관광청</a>
            <a class="dropdown-item" href="https://ambseoul.esteri.it/ambasciata_seoul/ko" target="_blank">주한 이탈리아
                대사관</a>
            <a class="dropdown-item" href="https://github.com/CodingOnFirstProject/firstProject.git"
                target="_blank">깃허브</a>
            <a class="dropdown-item" href="https://codingon.co.kr/" target="_blank">코딩온</a>
        </ul>
    </div>

    <div class="snsIcon">
        <a id="btnTwitter" class="link-icon twitter" href="javascript:shareTwitter();"><img
                src="/static/image/icon-twitter.png" alt=""></a>
        <a id="btnFacebook" class="link-icon facebook" href="javascript:shareFacebook();"><img
                src="/static/image/icon-facebook.png" alt=""></a>
        <a id="btnKakao" class="link-icon kakao" href="javascript:shareKakao();"><img src="/static/image/icon-kakao.png"
                alt=""></a>
    </div>
</footer>