<div class="naviBoss">

  <nav class="naviMain ">
    <div>
      <a href="./">
        <img src="/static/image/LOGO4.png" alt="LOGO" class="logo">
      </a>
    </div>
    <div class="naviItemDiv growDiv2">
      <div class="naviItem">
        <a class="navReview" href="#">소개</a>
      </div>
      <div class="naviItem">
        <a class="navReview" href="#">성당</a>
      </div>
      <div class="naviItem">
        <a class="navReview" href="#">유적지</a>
      </div>
      <div class="naviItem">
        <a class="navReview" href="#">휴양지</a>
      </div>
      <div class="naviItem">
        <a class="navReview" href="#">오늘의 이탈리아</a>
      </div>
    </div>
    <div class="nicknameBox growDiv3">
      <a class="loginBtn navReview" id="mainLoginBtn">로그인</a>
      <div class="welcDiv" id="welcome"></div>
    </div>
    <div class="navLogoDIv">
      <img class="navLogoCenter" src="/static/image/LogoLetter2.png" alt="로고">
    </div>
    <div class="navMQBtn">
      <i class="bi bi-justify"></i>
    </div>
  </nav>


  <div class="naviHid hidden">
    <div class="naviSubDiv">
  
      <div class="naviSubItems">
        <ul class="dropSub">
          <li><a class="dropSub-item" href="./country">이탈리아에 대하여</a></li>
          <li><a class="dropSub-item" href="./food">대표 음식</a></li>
          <li><a class="dropSub-item" href="./review">리뷰</a></li>        
        </ul>
      </div>
      <div class="line"></div>
      <div class="naviSubItems">
        <ul class="dropSub">
          <li><a class="dropSub1-item" href="./florence">피렌체 대성당</a></li>
          <li><a class="dropSub1-item" href="./milan">밀라노 대성당</a></li>
          <li><a class="dropSub1-item" href="./saint">성베드로 성당</a></li>
        </ul>
      </div>
      <div class="line"></div>
      <div class="naviSubItems">
        <ul class="dropSub">
          <li><a class="dropSub-item" href="./colosseum">콜로세움</a></li>
          <li><a class="dropSub-item" href="./pantheon">판테온</a></li>
          <li><a class="dropSub-item" href="./fororomano">포로로마노</a></li>
        </ul>
      </div>
      <div class="line"></div>
      <div class="naviSubItems">
        <ul class="dropSub">
          <li><a class="dropSub-item" href="./capri">카프리섬</a></li>
          <li><a class="dropSub-item" href="./cinqueTerre">친퀘테레</a></li>
          <li><a class="dropSub-item" href="./venice">베네치아</a></li>
        </ul>
      </div>
      <div class="line"></div>
      <div class="naviSubItems">
        <ul class="dropSub">
          <li><a class="dropSub-item ticketting">예매하기</a></li>
          <li><a class="dropSub-item money">환율</a></li>
          <li><a class="dropSub-item weatherbtn">날씨</a></li>
        </ul>
      </div>
      <div class="line"></div>
      <div class="naviSubItems hidden" id="ticket">
        <ul class="dropSub loginDropSub">
          <li><a class="dropSub-item logout">로그아웃</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navMQmaster hidden">
  <div class="navMQmain ">
    <i class="bi bi-arrow-right navMQBack"></i>
    <img class="navMQLogo" id="profileImage" src="/static/image/LOGO2.png" alt="로꼬로꼬">
    <div class="navMQItems">
      <div class="navMQItem">
        <a class="navMQtag" href="#">소개</a>
        <div class="navMQSub hidden">
          <div><a class="MQSub-item" href="./country">이탈리아에 대하여</a></div>
          <div><a class="MQSub-item" href="./food">대표 음식</a></div>
          <div><a class="MQSub-item" href="./review">리뷰</a></div>
        </div>
      </div>
      <div class="navMQItem">
        <a class="navMQtag" href="#">성당</a>
        <div class="navMQSub hidden">
          <div><a class="MQSub-item" href="./florence">피렌체 대성당</a></div>
          <div><a class="MQSub-item" href="./milan">밀라노 대성당</a></div>
          <div><a class="MQSub-item" href="./saint">성베드로 성당</a></div>
        </div>
      </div>
      <div class="navMQItem">
        <a class="navMQtag" href="#">유적지</a>
        <div class="navMQSub hidden">
          <div><a class="MQSub-item" href="./colosseum">콜로세움</a></div>
          <div><a class="MQSub-item" href="./pantheon">판테온</a></div>
          <div><a class="MQSub-item" href="./fororomano">포로로마노</a></div>
        </div>
      </div>
      <div class="navMQItem">
        <a class="navMQtag" href="#">휴양지</a>
        <div class="navMQSub hidden">
          <div><a class="MQSub-item" href="./capri">카프리섬</a></div>
          <div><a class="MQSub-item" href="./cinqueTerre">친퀘테레</a></div>
          <div><a class="MQSub-item" href="./venice">베네치아</a></div>
        </div>
      </div>
      <div class="navMQItem">
        <a class="navMQtag" href="#">오늘의 이탈리아</a>
        <div class="navMQSub hidden">
          <div><a class="MQSub-item ticketting">예매하기</a></div>
          <div><a class="MQSub-item money">환율</a></div>
          <div><a class="MQSub-item weatherbtn">날씨</a></div>
        </div>
      </div>
    </div>
  </div>
</div>