<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>성베드로</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/footer.css">
   
    <link rel = "stylesheet" href = "/static/css/florence.css">
</head>
<body>
    <%- include('navbar.ejs')%>

    <div id = "contents">

        <div id = "bigImg">
            <img src = "/static/img/saint2.jpg">
        </div>

        <div id = "btn4">
            <a href = "#box1"><span>성베드로 성당의 건립</span></a>
            <a href = "#box2"><span>성베드로 성당의 종교성과 예술성</span></a>
            <a href = "#box3"><span>성베드로 성당의 균형미</span></a>
            <a href = "#explain"><span>성베드로의 다른 모습들</span></a>
            <a href = "#exhibit"><span>성베드로 사진전</span></a>
        </div>

        <div id = "threeBox">

            <div id = "box1" class = "box">
                <img src = "/static/img/saint4.jpg" alt = "이미지1">

                <div class = "msg">
                    <h2>성베드로 성당의 건립</h2>

                    <p>
                        성 베드로 대성당은 바티칸 시국 남동쪽에 있으며 
                        성지 가운데 하나이자 기독교 세계의 모든 교회 가운데 가장 거대한 교회로 유일무이한 위치를 차지하고 있다.
                        서기 67년에 순교한 예수의 열두 제자 가운데 한 사람이자 초대 교황 성 베드로의 무덤 위에 대성전을 건립했다고 한다. 
                        로마의 성 베드로 대성전이 로마의 수많은 교회 가운데 가장 유명하기는 하지만 으뜸 교회는 아니다. 
                    </p>
                </div>
            </div>

            <div id = "box2" class = "box">
                <img src = "/static/img/saint1.jpg" alt = "이미지2">

                <div class = "msg">
                    <h2>성베드로 성당의 종교성과 예술성</h2>

                    <p>
                        로마 교구의 대성전의 명예를 지닌 교회는 산 조반니 인 라테라노 대성당이다. 
                        성베드로의 시신이 대성당의 제대 아래에 묻혀 있는 까닭에 옛날부터 교황이 선종하면 그 시신을 제대 아래에 안치해오고 있다. 
                        이 대성당은 4세기 이래 이 장소에 있었다.
                        성 베드로 대성당은 그 종교성과 역사성 그리고 예술성 때문에 세계적인 순례 장소로 유명하다.
                        르네상스부터 바로크에 이르기까지 수많은 예술계의 거장들이 건축가 직책을 계승하면서 오랜 세월에 걸쳐 지은 건축 작품으로서 당대의 가장 거대한 건물로 여겨진다.

                    </p>
                </div>
            </div>

            <div id = "box3" class = "box">
                <img src = "/static/img/saint3.jpg" alt = "이미지2">

                <div class = "msg">
                    <h2>성베드로 성당의 균형미</h2>


                    <p>
                        대성당 동쪽에는 성 베드로 광장이 있는데 이 광장은 균형미를 중요시하였다. 
                        광장에 들어서면 우선 눈에 들어오는 부분이 양쪽에 서 있는 타원형의 대회랑이다. 
                        모두 284개의 원기둥꼴 대리석 기둥이 각각 네 줄로 양편에 당당히 서 있는데 기둥 하나의 높이가 16m나 된다.
                        그 위에 성인과 교황의 모습들이 대리석으로 조각되어 서 있는데 모두 140개이며 대리석상 하나의 높이는 3.24m의 거대한 석상이지만 순례자들의 눈에는 조그마한 모습으로 한눈에 들어오는 까닭은
                        광장과 대성당의 웅장한 규모 때문이다
                    </p>
                </div>

            </div>
        </div>


        <div id = "explain">
            <h2>성베드로의 다른 모습들</h2>

            <div id = "explainImg">
                <div class = "divide">

                    <div class = "line">
                        <img src = "/static/img/ved1.jpg">
                    </div>

                    <div class = "line">
                        <img src = "/static/img/ved2.jpg">
                    </div>

                    <div class = "line">
                        <img src = "/static/img/ved3.jpg">
                    </div>

                </div>
                

                <div class = "divide">

                    <div class = "line">
                        <img src = "/static/img/ved4.jpg">
                    </div>

                    <div class = "line">
                        <img src = "/static/img/ved5.jpg">
                    </div>

                    <div class = "line">
                        <img src = "/static/img/ved6.jpg">
                    </div>
                </div>

            </div>

        </div>  <!--explain 끝-->

        <div id = "exhibit">
            <div id = "rectangle">
                <h2>성베드로 사진전</h2>
                <p>
                    광장에 들어서면 우선 눈에 들어오는 부분이 양쪽에 서 있는 타원형의 대회랑이다.
                </p>
            </div>

            <div id = "absoluteDiv">
                <div class = "slide_wrapper">
                    <ul class = "slides">
                        <li><img src = "/static/img/ved2.jpg"></li>
                        <li><img src = "/static/img/ved3.jpg"></li>
                        <li><img src = "/static/img/ved1.jpg"></li>
                        <li><img src = "/static/img/ved4.jpg"></li>
                        <li><img src = "/static/img/ved6.jpg"></li>
                        <li><img src = "/static/img/ved5.jpg"></li>
                    </ul>
                </div>
            </div>
            
        <p class = "controls">
            <span class = "prev">prev</span>
            <span class = "next">next</span>
        </p>


    </div>
    <%- include('footer.ejs')%>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
                integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src ="/static/js/footer.js"></script>

    <script src = "/static/js/florence.js"></script>
</body>
</html>