body {
    margin: 0;
    background-color: #EAF6F6;
    height: 540px;
    width: 440px;
}

.loginAll {
  
    display: flex;
    align-items: center;
    flex-direction: column;
}

#loginForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 10px;
}

.loginLogo {
    width: 280px;
    height: 170px;
    margin-top: 40px;
    margin-bottom: 30px;
}

#loginBtn {
    background-color: rgb(174, 220, 238);
    width: 300px;
    height: 42px;
    border-width: 0;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 30px;
}

.loginForm {
    margin-top: 40px;
}

#loginForm input {
    width: 220px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #EAF6F6;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: thin solid  #000040;
} 